<window id="4">
	<defaultcontrol>1000</defaultcontrol>
	<controls>
		<include>DefaultBackground</include>
		<control type="button" id="1000">
			<posx>-10</posx>
			<posy>-10</posy>
			<width>1</width>
			<height>1</height>
			<label>-</label>
			<font>font20</font>
			<texturefocus>-</texturefocus>
			<texturenofocus>-</texturenofocus>
			<onfocus>ActivateWindow(Home)</onfocus>
		</control>
	</controls>
</window>
